.container{
    height: calc(100vh - 130px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.sectionLogin{
    position: relative;
    width: 100%;
}
.loginImage{
    width: 500px;
}
.loginImage img{
    width: 100%;
}
.mainHeading{
    position: relative;
}
.mainHeading::after {
    content: '';
    height: 4px; 
    width: 35px; 
    background: black;
    position: absolute;
    left: 0;
    bottom: 7px; 
  }
.loginForm {
    width: 500px;
    min-height: 350px;
    border-radius: 10px ;
    box-shadow: 0 0 10px rgb(158, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 28px 10px;
}
.loginForm form{
    width: 80%;
    text-align: center;
    box-sizing: border-box;
}
.loginForm form input{
    width: 250px;
    height: 40px;
    padding: 0px 10px;
    font-family: "Poppins", sans-serif;
    border-radius: 7px;
    border: none;
    padding-right: 40px;
}
.loginForm form input:focus-visible{
    outline: none;
}
.submitBtn{
    width: 100px;
    background-color: black;
    color: white;
    border-radius: 10px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}
.googleButton{
    border-radius: 10px;
    background-color: transparent;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    padding: 3px 20px;
    border-width: 1px;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    gap: 10px;
}
.googleButton:active{
    box-shadow: 0px 0px 10px lightgray;
}
.formContainer{
    display: flex;
    flex-direction: column;
    /* background-color: antiquewhite; */
    align-items: center;
    gap: 20px;
}
.formContainer div{
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding-left: 8px;
    position: relative;
}
.viewToggle{
    position: absolute;
    right: 8px;
    font-size: 18px;
}
@media only screen and (max-width:1200px) {
    .loginImage{
        width: 400px;
    }
}
@media only screen and (max-width:1110px) {
    .loginForm{
        width: 400px;
        height: 300px;
    }
    .mainHeading{
        font-size: 25px;
    }
    .mainHeading::after {
        width: 28px; 
        bottom: 5px; 
    }
    .loginForm form input{
        width: 200px;
        height: 30px;
    }
    .submitBtn{
        width: 100px;
        height: 28px;
        font-size: 16px;
    }
}
@media only screen and (max-width: 950px) {
    .loginImage{
        width: 300px;
    }
}
@media only screen and (max-width: 800px){
    .container{
         flex-direction: column;
        height: max-content;
        margin-bottom: 40px;
    }
}
@media only screen and (max-width: 470px){
    .loginForm{
        width: 350px;
        height: 250px;
    }
    .loginForm form input{
        width: 170px;
        height: 30px;
    }
    .loginForm form label{
        font-size: 15px;
    }
    .submitBtn{
        font-size: 14px;
        width: 80px;
    }
}
@media only screen and (max-width: 390px){
    .loginImage{
        width: 70vw;
    }
    .loginForm{
        width: 80vw;
        height: 300px;
    }
    .loginForm form div{
        flex-direction: column;
        align-items: flex-start;
    }
    .loginForm form input{
        width: 90%;
    }
    .mainHeading{
        font-size: 20px;
    }
    .mainHeading::after {
        width: 23px; 
        bottom: 3px; 
    }
    .submitBtn{
        font-size: 12px;
        width: 70px;
    }
}