.spinnerContainer{
    width: 100vw;
    height: calc(100vh - 130px);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgb(215, 214, 214);
    font-family: "Poppins", sans-serif;
}

.spinner-icon {
    animation: spin 2s linear infinite;
    font-size: 30px;
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}